{{ contexto }}
<div class="card-campeonato">
    <div class="card-header">
        <h1>CAMPEONATO</h1>
    </div>
    <div class="card-body">
        <input type="text" class="form-control"
        placeholder="Time 01" id="time_01">
        <input type="number" value="0" step="1"
        class="fporm-control">
        X
        <input type="number" value="0" step="1"
        class="fporm-control">
        <input type="text" class="form-control"
        placeholder="Time 02" id="time_02">
        <button>OK</button>
        <input type="text" class="form-control"
        placeholder="Time 03" id="time_03">
        <input type="number" value="0" step="1"
        class="fporm-control">
        X
        <input type="number" value="0" step="1"
        class="fporm-control">
        <input type="text" class="form-control"
        placeholder="Time 04" id="time_04">
        <button>OK</button>
        <input type="text" class="form-control"
        placeholder="Time 05" id="time_05">
        <input type="number" value="0" step="1"
        class="fporm-control">
        X
        <input type="number" value="0" step="1"
        class="fporm-control">
        <input type="text" class="form-control"
        placeholder="Time 06" id="time_06">
        <button>OK</button>
        <input type="text" class="form-control"
        placeholder="Time 07" id="time_07">
        <input type="number" value="0" step="1"
        class="fporm-control">
        X
        <input type="number" value="0" step="1"
        class="fporm-control">
        <input type="text" class="form-control"
        placeholder="Time 08" id="time_08">
        <button>OK</button>
        <input type="text" class="form-control"
        placeholder="Time 09" id="time_09">
        <input type="number" value="0" step="1"
        class="fporm-control">
        X
        <input type="number" value="0" step="1"
        class="fporm-control">
        <input type="text" class="form-control"
        placeholder="Time 10" id="time_10">
        <button>OK</button>
        <input type="text" class="form-control"
        placeholder="Time 11" id="time_11">
        <input type="number" value="0" step="1"
        class="fporm-control">
        X
        <input type="number" value="0" step="1"
        class="fporm-control">
        <input type="text" class="form-control"
        placeholder="Time 12" id="time_12">
        <button>OK</button>
    </div>
    <div class="card-header"></div>
</div>