<!doctype html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!-- normalize css -->
        <link rel = "stylesheet"
        href = "{% static 'core/resources/normalize.css' %}">
        <link rel="stylesheet"
        href="{% static 'core/css/style.css' %}">
        <title>CAMPEONATO DE FIFA 17</title>
    </head>
<body>
    <div class="header">
        <div  class="card-times">
            <div class="card-header">
                <span>TIMES</span>
            </div>
            <div class="card-body">
                {% for i in list_times_fifa17 %}
                <div class="card-body-item">
                    <div class="logo-times tigres {{ i }}"></div>{{ i }}
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <div class="hero-btns">
                    <button class="btn-white">GERA CAMPEONATO</button>
                </div>
            </div>
        </div>
        {% include "core/html_tabela_campeonato.html" %}
    </div>
</body>
<script scr={% static "core/js/core.js" %}></script>
</html>