* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("/static/core/img/fifa17_02.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
}

.card-times {
    background-color: #020202;
    opacity: 0.8;
    min-width: 360px;
    height: 100vh;
    color: white;
}

.card-times .card-header {
    height: 3rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    border-bottom: 3px solid white;
}

.card-times .card-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: 1.8rem;
    padding: 10px;
    border-bottom: 3px solid white;
}

.card-times .card-body .card-body-item {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding-bottom: 0.2rem;
}

.card-times .card-body .card-body-item span {
    padding-left: 5px;
}

.card-times .card-footer {
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-btns {
    margin-top: 2.8rem;
}

.hero-btns button {
    background-color: deeppink;
    border: 3.5px solid #fff;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}


.btn-white {
    background: #fff;
    color: var(--night-rider);
    transition: var(--transition);
}

.btn-white:hover {
    background: transparent;
    color: #fff;
    cursor: pointer;
    outline: 0;
}

.logo-times {
    background-color: white;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.2rem;
}

.bayern {
    background-image: url("/static/core/img/bayern.png");
}

.chelsea {
    background-image: url("/static/core/img/chelsea.png");
}

.gamba {
    background-image: url("/static/core/img/gamba.png");
}

.inter {
    background-image: url("/static/core/img/inter.png");
}

.juventus {
    background-image: url("/static/core/img/juventus.png");
}

.lyon {
    background-image: url("/static/core/img/lyon.png");
}

.city {
    background-image: url("/static/core/img/city.png");
}

.united {
    background-image: url("/static/core/img/united.png");
}

.psg {
    background-image: url("/static/core/img/psg.png");
}

.real {
    background-image: url("/static/core/img/real.png");
}

.sounders {
    background-image: url("/static/core/img/sounders.png");
}

.tigres {
    background-image: url("/static/core/img/tigres.png");
}